node_modules/
task/

.DS_Store
.prettierignore

# design files
*.sketch
*.fig
*.xd

### AI files
### Disable indexing (coding/developing context)
.codeiumignore
### Disable Search By Content
.rgignore
### Disable Search By File Names
.fdignore