@use '../functions' as fn;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; // explicitly predict if other stylesheets modified root font size earlier in cascade

  /*@media screen and (min-width: base.px-to-em(1400)) {
    //overflow-y: scroll; // ! only for development. Set vertical scroll on desktop. For mobile it is unnecessary
  }*/
}

body {
  // never use (width, margin, padding, ect.) properties on body. Move them in wrapper.
  scroll-behavior: smooth;
  font-family: 'DM Sans', Arial, sans-serif;
  color: var(--0-base-color);
}

.wrapper {
  $padding-inline: fn.px-to-rem(8px);
  $max-inline-size: fn.px-to-rem(1000px);
  
  inline-size: 100%;
  max-inline-size: $padding-inline * 2 + $max-inline-size;
  margin: 0 auto;
  padding-block-start: fn.px-to-rem(16px);
  padding-inline: $padding-inline;
}

.header {
  margin-block-end: fn.fluid-clamp(16px, 32px); // the same as in https://clampgenerator.com/

  &__title {
    text-align: center;
    font-size: fn.px-to-rem(32px);
  }
}