.portfolio {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.project {
  border-block-end: 1px solid #ccc;
  padding: 0.4rem 0;

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0.2rem;

    text-decoration: none;
    border-radius: 0.3rem;
    color: inherit;
    transition: all 0.5s;

    &:where(:hover, :focus) {
      background-color: var(--base-bgcolor);
      color: #000;
      outline: none;
    }

    &:where(:active) {
      background-color: #aaa;
    }
  }

  &__title {
    font-size: 1rem;
  }

  &__design {
    display: none;
  }

  &__link {
    text-align: center;
    padding: 0.1rem 0.5rem;
    background-color: var(--base-bgcolor);
    align-self: end;
    border-radius: inherit;
    transition: all 0.5s;
  }
}

@media screen and (min-width: 64em) {
  .portfolio {
    gap: 0.4rem;
  }

  .project {
    &__title {
      font-size: 1.2rem;
    }

    &__link {
      padding: 0.2rem 1rem;
    }
  }
}