.portfolio {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, calc(0.636rem + 1.818vw), 2rem);
}

.project {
  border: none;

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: calc(8rem / 16);

    text-decoration: none;
    border-radius: calc(4.8rem / 16);
    color: inherit;
  }

  &__title {
    font-size: calc(16rem / 16);
    align-self: center;
    flex: 1 1 0;

    &:where(:hover, :focus) {
      background-color: var(--base-bgcolor);
    }
  }

  &__link {
    text-align: center;
    background-color: var(--base-bgcolor);

    &:where(:hover, :focus) {
      background-color: var(--bgc-hover);
    }
  }

  &__title,
  &__link {
    padding: calc(1.6rem / 16) calc(8rem / 16);
    border-radius: inherit;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:where(:hover, :focus) {
      color: var(--color-hover);
    }

    &:where(:active) {
      background-color: var(--bgc-active);
    }
  }

  &__design {
    display: none;
  }

  @media screen and (min-width: calc(768em / 16)) {
    border-block-end: 1px solid hsl(0, 0%, 80%, 1);

    &__design {
      display: grid;
      --grid-col-row-size: calc(24rem / 16);
      grid-template-columns:repeat(20, var(--grid-col-row-size));
      grid-auto-rows: var(--grid-col-row-size);
      justify-content: center;
      padding-block: calc(8rem / 16);
      margin-inline-start: calc(8rem / 16);
    }
  }

  @media screen and (min-width: calc(1024em / 16)) {
    &__title {
      font-size: calc(19.2rem / 16);
    }

    &__link {
      padding: calc(3.2rem / 16) calc(16rem / 16);
    }
  }
}