@use '../functions' as fn;

.portfolio {
  display: flex;
  flex-direction: column;
  gap: fn.fluid-clamp(24px, 32px);
}

.project {
  border: none;

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: fn.px-to-rem(8px);

    text-decoration: none;
    border-radius: fn.px-to-rem(4.8px);
    color: inherit;
  }

  &__title {
    font-size: fn.px-to-rem(16px);
    align-self: center;
    flex: 1 1 0;

    &:where(:hover, :focus) {
      background-color: var(--base-bgcolor);
    }
  }

  &__link {
    text-align: center;
    background-color: var(--base-bgcolor);

    &:where(:hover, :focus) {
      background-color: var(--bgc-hover);
    }
  }

  &__title,
  &__link {
    padding: fn.px-to-rem(1.6px) fn.px-to-rem(8px);
    border-radius: inherit;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:where(:hover, :focus) {
      color: var(--color-hover);
    }

    &:where(:active) {
      background-color: var(--bgc-active);
    }
  }

  &__design {
    display: none;
  }

  @media screen and (min-width: fn.px-to-em(768px)) {
    --grey: hsl(0, 0%, 80%, 1);
    border-block-end: 1px solid var(--grey);

    &__design {
      display: grid;
      grid-template-columns: repeat(20, fn.px-to-rem(24px));
      grid-auto-rows: fn.px-to-rem(24px);
      justify-content: center;
      padding-block: fn.px-to-rem(8px);
      margin-inline-start: fn.px-to-rem(8px);
    }
  }

  @media screen and (min-width: fn.px-to-em(1024px)) {
    &__title {
      font-size: fn.px-to-rem(19.2px);
    }

    &__link {
      padding: fn.px-to-rem(3.2px) fn.px-to-rem(16px);
    }
  }
}