.portfolio {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, calc(0.636rem + 1.818vw), 2rem);
}

.project {
  border: none;

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;

    text-decoration: none;
    border-radius: 0.3rem;
    color: inherit;
  }

  &__title {
    font-size: 1rem;
    align-self: center;
    flex: 1 1 0;

    &:where(:hover, :focus) {
      background-color: var(--base-bgcolor);
    }
  }

  &__link {
    text-align: center;
    background-color: var(--base-bgcolor);

    &:where(:hover, :focus) {
      background-color: #bbb;
    }
  }

  &__title,
  &__link {
    padding: 0.1rem 0.5rem;
    border-radius: inherit;
    transition: all 0.5s;

    &:where(:hover, :focus) {
      color: #000;
    }

    &:where(:active) {
      background-color: #999;
    }
  }

  &__design {
    display: none;
  }

  @media screen and (min-width: calc(768em / 16)) {
    border-block-end: 1px solid #ccc;

    &__design {
      display: grid;
      --grid-col-row-size: 1.5rem;
      grid-template-columns:repeat(20, var(--grid-col-row-size));
      grid-auto-rows: var(--grid-col-row-size);
      justify-content: center;
      padding-block: 0.5rem;
      margin-inline-start: 0.5rem;
    }
  }

  @media screen and (min-width: calc(1024em / 16)) {
    &__title {
      font-size: 1.2rem;
    }

    &__link {
      padding: 0.2rem 1rem;
    }
  }
}