.device {
  position: relative;
  border: solid 0.125rem black;
  box-shadow: 0 0.25vw 0.5vw rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  &__screen {
    width: 100%;
    height: 100%;
    // background-color: red; // !!! for dev test
    overflow: hidden;
    overflow-y: scroll;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  &--mobile {
    grid-column: 1 / span 5;
    grid-row: 1 / span 9;

    border-block-end: solid 0.2rem black;
  }

  &--desktop {
    grid-column: 7 / span 14;
    grid-row: 1 / span 9;

    border-block-end: solid 0.6rem black;
  }

  @media screen and (min-width: calc(1200em / 16)) {
    &__screen {
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background: #000;
      }

      &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 4px;
      }

    }
  }
}