@use '../functions' as fn;

.device {
  position: relative;
  border: solid fn.px-to-rem(2px) black;
  box-shadow: 0 0.25vw 0.5vw rgba(0, 0, 0, 0.2);
  border-radius: fn.px-to-rem(3px);

  &__screen {
    width: 100%;
    height: 100%;
    // background-color: red; // !!! for dev test
    overflow-x: hidden;
    overflow-y: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  &--mobile {
    grid-column: 1 / span 5;
    grid-row: 1 / span 9;

    border-block-end: solid fn.px-to-rem(3.2px) black;
  }

  &--desktop {
    grid-column: 7 / span 14;
    grid-row: 1 / span 9;

    border-block-end: solid fn.px-to-rem(9.6px) black;
  }

  @media screen and (min-width: fn.px-to-em(1200px)) {
    &__screen {
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: fn.px-to-rem(8px);
      }

      &::-webkit-scrollbar-track {
        background: #000;
      }

      &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: fn.px-to-rem(4px);
      }
    }
  }
}