@use '../base/functions' as fn;
@use '../base/viewports';

.preview {
  $padding-bottom: fn.px-to-rem(40px); // do not use interpolation (#{}) inside a calc() - not optimize
  padding-block-end: calc($padding-bottom - var(--4-padding-block-section));

  // If ".preview" go after ".section-container" - set padding as for other
  .section-container ~ & {
    padding-block-end: var(--4-padding-block-section);
  }

  // If ".preview" does not have sibling ".section-container" - so ".preview" is the last - remove padding-bottom
  &:not(:has(~ .section-container)) {
    padding-block-end: 0;
  }

  img {
    display: block;
    width: 100vw;
    margin-inline-start: 50%;
    transform: translateX(-50%);

    @media (min-width: fn.px-to-em(viewports.$mobile-plus-1px)) {
      max-width: 100%;
      margin: 0;
      transform: none;
      border-radius: fn.px-to-rem(12px);
      height: fn.fluid-clamp(171px, 300px, viewports.$mobile, viewports.$tablet);
      object-fit: cover;
    }
  }
}