@mixin font-face($font-name, $file-name, $weight, $style) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('../fonts/#{$font-name}/#{$file-name}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin font-weight-style-letterSpacing($weight: 400, $style: normal, $ls: 0) {
  font-weight: $weight;
  font-style: $style;
  letter-spacing: $ls;
}