// =============================================
// Variables allow to centralize design,
// making it easier to maintain
// update without recompiling Sass
// change value for variable instead of n files
// =============================================

@use 'functions' as fn;
@use 'breakpoints' as bp;

:root {
  // Breakpoints as CSS variables. Just for info in browser dev tools.
  @each $name, $value in bp.$breakpoints {
    --094-#{$name}-px: #{$value};
    --094-#{$name}-em: #{fn.px-to-em($value)};
  }

  // Colors
  --094-color-white-100: hsl(0, 0%, 100%, 1);

  // Font sizes
  --094-font-family-primary: 'Poppins', system-ui, sans-serif;
  //--094-font-family-accent: 'Fraunces', system-ui, sans-serif;

  //--094-font-size-3xs: #{fn.px-to-rem(12)};
  //--094-font-size-2xs: #{fn.px-to-rem(13)};
  //--094-font-size-xs: #{fn.px-to-rem(14)};
  //--094-font-size-s: #{fn.px-to-rem(15)};
  //--094-font-size-base: #{fn.px-to-rem(16)};
  //--094-font-size-m: #{fn.px-to-rem(20)};
  //--094-font-size-l: #{fn.px-to-rem(24)};
  //--094-font-size-xl: #{fn.px-to-rem(36)};
  //--094-font-size-2xl:
  //--094-font-size-3xl:

  // Border-radius
  //--094-border-radius-3xs: #{fn.px-to-rem(4)};

  --094-box-shadow: #{fn.px-to-rem(0)} #{fn.px-to-rem(15)} #{fn.px-to-rem(30)} #{fn.px-to-rem(-11)} var(--094-color-shadow);
}