.qr-code {
  background-color: var(--white);
  max-width: 20rem;
  width: 100%;
  padding: clamp(10px, 4.27vw, 16px) clamp(10px, 4.27vw, 16px) clamp(20px, 10.67vw, 40px);
  border-radius: 20px;
  box-shadow: 0 25px 25px 0 hsl(0, 0%, 0%, 0.0477);
  text-align: center;

  &__image {
    display: block;
    max-width: 100%;
    margin-block-end: clamp(10px, 6.4vw, 24px);
    border-radius: 10px;
  }

  &__text {
    padding: 0 clamp(8px, 4.27vw, 16px);
  }

  &__title {
    margin-block-end: clamp(8px, 4.27vw, 16px);
    color: var(--slate-900);
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 1.2;
    letter-spacing: 0;
  }

  &__instruction {
    color: var(--slate-500);
    font-size: 0.9375rem;
    line-height: 1.4;
    letter-spacing: 0.2px;
  }
}