@use '../config/functions' as fn;
@use '../config/viewports' as viewport;
@use '../config/mixins' as mixin;
@use '../config/variables' as var;

.social-profile {
  background-color: var.$p3-bg-color-box;
  color: var.$p3-color-primary;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: fn.px-to-rem(24px);
  width: 98%;
  padding: fn.fluid-clamp(24px, 40px, viewport.$p3-mobile, viewport.$p3-tablet);
  border-radius: fn.px-to-rem(12px);

  @media (min-width: fn.px-to-em(viewport.$p3-mobile)) {
    width: fn.fluid-clamp(327px, 384px, viewport.$p3-mobile, viewport.$p3-tablet);
  }

  &__photo {
    border-radius: 50%;
    width: 100%;
    max-width: fn.px-to-rem(88px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    align-self: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: fn.px-to-rem(4px);
  }

  &__name {
    font-size: var.$p3-fs-heading;
    @include mixin.heading-semibold;
    letter-spacing: fn.px-to-rem(0.4px);
  }

  &__location {
    font-size: var.$p3-fs-text;
    @include mixin.text-bold;
    color: var.$p3-color-secondary;
  }

  &__bio {
    font-size: var.$p3-fs-text;
    @include mixin.text-regular;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: fn.px-to-rem(16px);
    list-style: none;

    > li {
      padding: fn.px-to-rem(12px);
      border-radius: fn.px-to-rem(8px);
      background-color: var.$p3-bg-color-element;
      cursor: pointer;

      /* Accessibility: reduce animations when motion is disabled on user browser/OS system */
      @media (prefers-reduced-motion: reduce) {
        transition: 1s;
      }

      @media (min-width: fn.px-to-em(viewport.$p3-desktop)) {
        transition: background-color .8s ease, color .8s ease;

        &:hover,
        &:focus-within {
          transition: background-color .1s ease, color .1s ease;
          background-color: var.$p3-color-secondary;
          color: var.$p3-color-hover;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    font-size: var.$p3-fs-text;
    @include mixin.text-bold;
    color: inherit;
    outline: none;
  }
}