* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; // a certain fuse, best practice
}

body {
  font-family: 'Outfit', 'Arial', sans-serif;
  background-color: var(--1-slate-300);
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}