.qr-code {
  background-color: var(--1-white);
  max-width: 20rem;
  width: 100%;
  padding: clamp(0.5rem, 4.27vw, 1rem) clamp(0.5rem, 4.27vw, 1rem) clamp(1.25rem, 10.67vw, 2.5rem);
  border-radius: 1.25rem;
  box-shadow: 0 1.5625rem 1.5625rem 0 hsl(0, 0%, 0%, 0.0477);
  text-align: center;

  &__image {
    display: block;
    max-width: 100%;
    margin-block-end: clamp(0.25rem, 6.4vw, 1.5rem);
    border-radius: 0.625rem;
  }

  &__text {
    padding: 0 clamp(0.25rem, 4.27vw, 1rem);
  }

  &__title {
    margin-block-end: clamp(0.25rem, 4.27vw, 1rem);
    color: var(--1-slate-900);
    font-weight: bold;
    font-size: clamp(0.625rem, 5.87vw, 1.375rem);
    line-height: 1.2;
  }

  &__instruction {
    color: var(--1-slate-500);
    font-size: clamp(0.625rem, 4vw, 0.9375rem);
    line-height: 1.4;
    letter-spacing: 0.0125rem;
  }
}