* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; // a certain fuse, best practice
}

body {
  font-family: 'Figtree', Arial, sans-serif;
  background-color: var(--2-yellow);
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}