body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', 'Arial', sans-serif;
  background-color: var(--slate-300);
}