@use '../base';

.author {
  font-size: base.rem(base.$fsz-base); // in "rem" need for "em" context in component
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  column-gap: base.em(17px, base.$fsz-base);

  @media (min-width: base.em(base.$wide)) {
    column-gap: base.em(16px, base.$fsz-base);
  }

  &__photo {
    $author-photo-size: 28px;
    flex-grow: 1;
    max-inline-size: base.em($author-photo-size, base.$fsz-base);
    max-block-size: base.em($author-photo-size, base.$fsz-base);
    border-radius: 50%;

    img {
      display: block;
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
      border-radius: inherit;
    }

    &--outline {
      outline: base.em(base.$border-width-3xs, base.$fsz-base) solid var(--author-photo-outline);
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: base.em(3px, base.$fsz-base);
    @include base.font-weight-style-letterSpacing(500, normal, base.em(0.1px, base.$fsz-base));
  }

  &__name {
    font-size: base.em(base.$fsz-xs, base.$fsz-base);
    line-height: 1.1;
    color: var(--author-name-color);
  }

  &__status {
    font-size: base.em(base.$fsz-3xs, base.$fsz-base);
    line-height: 1.1;
    color: var(--author-status-color);
  }

  &--x2 {
    font-size: base.rem(base.$fsz-base * 2);
  }
}