@use '../base';

.testimonial {
  --t-color-bg: inherit;
  --author-photo-outline: transparent;
  --author-name-color: inherit;
  --author-status-color: inherit;
  --t-color-intro-text: inherit;
  --t-color-main-text: inherit;

  // Inner
  font-size: base.rem(base.$fsz-base); // in "rem", need for "em" context in component
  padding: base.css-calc-em(base.vw(32px, base.$mobile), base.$fsz-base);
  border-radius: base.em(base.$border-radius-3xs, base.$fsz-base);
  box-shadow: var(--094-box-shadow);
  background-color: var(--t-color-bg);
  position: relative;
  z-index: 0; // need just to set z-index context
  // layout
  display: flex;
  flex-direction: column;
  gap: base.em(16px, base.$fsz-base);

  @media (min-width: base.em(base.$mobile)) {
    padding: base.em(32px, base.$fsz-base);
  }

  @media (min-width: base.em(base.$tablet-s)) {
    &:first-child::before {
      @include base.icon-quotes(base.em(104px, base.$fsz-base));
      block-size: base.em(102px, base.$fsz-base);
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: base.rem(167);
      color: var(--094-color-purple-300);
      z-index: -1;
    }
  }

  @media (width > base.em(base.$tablet-m)) {
    &:first-child::before {
      inset-inline-end: base.rem(60);
    }
  }

  &__intro-text {
    font-size: base.em(base.$fsz-m, base.$fsz-base);
    line-height: 1.2;
    @include base.font-weight-style-letterSpacing(600, normal, base.em(0.13px, base.$fsz-m));
    color: var(--t-color-intro-text);
  }

  &__main-text {
    font-size: base.em(base.$fsz-xs, base.$fsz-base);
    line-height: 1.39;
    @include base.font-weight-style-letterSpacing(500, normal, base.em(0.1px, base.$fsz-xs));
    color: var(--t-color-main-text);

    quotes: '“' '”';

    & > :first-child::before {
      content: open-quote;
    }

    & > :last-child::after {
      content: close-quote;
    }
  }

  // Modifiers
  &--purple {
    --t-color-bg: var(--094-color-purple-500);
    --author-photo-outline: var(--094-color-purple-300);
    --author-name-color: var(--094-color-white-100);
    --author-status-color: var(--094-color-purple-50);
    --t-color-intro-text: var(--094-color-white-100);
    --t-color-main-text: var(--094-color-purple-50);
  }

  &--grey {
    --t-color-bg: var(--094-color-grey-500);
    --author-name-color: var(--094-color-white-100);
    --author-status-color: var(--094-color-grey-300);
    --t-color-intro-text: var(--094-color-white-100);
    --t-color-main-text: var(--094-color-grey-100);
  }

  &--white {
    --t-color-bg: var(--094-color-white-100);
    --author-photo-outline: var(--094-color-grey-300);
    --author-name-color: var(--094-color-grey-500);
    --author-status-color: var(--094-color-grey-400);
    --t-color-intro-text: var(--094-color-grey-500);
    --t-color-main-text: var(--094-color-grey-400);
  }

  &--dark-blue {
    --t-color-bg: var(--094-color-dark-blue);
    --author-photo-outline: var(--094-color-purple-500);
    --author-name-color: var(--094-color-white-100);
    --author-status-color: var(--094-color-white-100);
    --t-color-intro-text: var(--094-color-grey-200);
    --t-color-main-text: var(--094-color-grey-100);
  }

  @media (hover: hover) and (pointer: fine) {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  &--x2 {
    font-size: base.rem(base.$fsz-base * 2);
  }
}