@use 'base/fonts';
@use 'base/tokens-css';

// Order is important. To include whole folder, inside folder must be index.scss which include inner files
@use 'layouts';
@use 'components';
@use 'sections';