/* === Tokens === */
/* DO NOT USE for CSS PROPERTIES. ONLY for Variables */

// Colors
$p3-token-white: hsl(0, 0%, 100%, 1);
$p3-token-green: hsl(75, 94%, 57%, 1);
$p3-token-grey-700: hsl(0, 0%, 20%, 1);
$p3-token-grey-800: hsl(0, 0%, 12%, 1);
$p3-token-grey-900: hsl(0, 0%, 8%, 1);

// Font sizes
$p3-token-font-24: 24px;
$p3-token-font-16: 16px;
$p3-token-font-14: 14px;
