// ====================================================
// TOKENS – raw / base values
// Do NOT use these Tokens directly in other CSS/SCSS!
// Only used them inside variables.scss
// ====================================================

:root {
  // Tokens: Colors
  --__3-white: hsl(0, 0%, 100%, 1);
  --__3-green: hsl(75, 94%, 57%, 1);
  --__3-grey-700: hsl(0, 0%, 20%, 1);
  --__3-grey-800: hsl(0, 0%, 12%, 1);
  --__3-grey-900: hsl(0, 0%, 8%, 1);

  // Tokens: Font sizes
  --__3-font-500: 1.5rem; // 24px
  --__3-font-100: 1rem; // 16px
  --__3-font-90: 0.875rem; // 14px
}