// $p4- (project #4)

$mobile-smallest: 320px;
$mobile: 375px;
$mobile-plus-1px: 376px;
$tablet: 768px;
$tablet-plus-1px: 769px;
$tablet-big: 1024px;
$tablet-big-plus-1px: 1025px;
$wide: 1280px;
$wide-plus-1px: 1281px;
$desktop: 1440px;
$desktop-plus-1px: 1441px;
