:root {
  --0-base-color: hsl(0, 0%, 0%, 0.75);
  --0-base-bgcolor: hsl(0, 1%, 85%);
  --0-bgc-hover: hsl(0, 0%, 73%, 1);
  --0-bgc-active: hsl(0, 0%, 60%, 1);
  --0-color-hover: hsl(0, 0%, 0%, 1);
  --0-color-device-border: hsl(174.4 100% 30%);
}
