@use '../functions' as fn;

.card {
  width: 95%;
  background-color: var(--2-white);
  padding: fn.px-to-rem(24px);
  border-radius: fn.px-to-rem(20px);
  box-shadow: inset 0 0 0 1px var(--2-gray-950), 2px 2px 2px 0 var(--2-gray-950);
  color: var(--2-gray-950);
  transition: box-shadow 0.5s ease;
  cursor: pointer;

  &__link {
    display: flex;
    flex-direction: column;
    gap: fn.px-to-rem(24px);
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    min-height: fn.px-to-rem(200px);
    object-fit: cover;
    border-radius: fn.px-to-rem(10px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.px-to-rem(12px);

    font-size: fn.fluid-clamp(12px, 14px);
    line-height: 1.5;
    font-weight: bold;
  }

  &__category {
    align-self: start;
    padding: fn.px-to-rem(4px) fn.px-to-rem(12px);
    border-radius: fn.px-to-rem(4px);
    background-color: var(--2-yellow);
  }

  &__date {
    font-weight: 500;
  }

  &__title {
    font-size: fn.fluid-clamp(20px, 24px);
    transition: color 0.5s ease;
  }

  &__description {
    color: var(--2-gray-500);
    font-weight: 500;
    font-size: fn.fluid-clamp(14px, 16px);
  }

  &__author {
    display: flex;
    align-items: center;
    gap: fn.px-to-rem(12px);
  }

  &__author-avatar {
    border-radius: 50%;
    width: 100%;
    max-width: fn.px-to-rem(32px);
    height: auto;
  }

  &__author-name {
    font-size: fn.fluid-clamp(14px, 16px);
    font-weight: bold;
    line-height: 1.5;
  }

  &:has(&__link:where(:hover, :focus)) {
    box-shadow: inset 0 0 0 1px var(--2-gray-950), 2px 2px 6px 0 var(--2-gray-950);

    .card__title {
      color: var(--2-yellow);
    }
  }

  /* Accessibility: reduce animations when motion is disabled on user browser/OS system */
  @media (prefers-reduced-motion: reduce) {
    transition: 1s;

    &__title {
      transition: 1s;
    }
  }

  @media screen and (min-width: fn.px-to-em(375px)) {
    width: fn.fluid-clamp(327px, 384px);
  }
}